*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(../imagenes/atardecer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    margin: 23vh auto;

}

form {
    display: grid;
    grid-template-columns: 100%;
    background-color: #d6d6d6c9;
    padding: 60px;
    border-radius: 20px;
}

form * {
    margin-bottom: 10px;
}

form h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30pt;
}

form label, form input, #botonInicio {
    font-size: 15pt;
    border-radius: 5px;
}

#botonInicio {
    margin-top: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    height: 2em;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 20pt;
}

#botonInicio:hover {
    cursor: pointer;
}

#botonInicio:active {
    box-shadow: none;
    transform: scale(0.98);
}

#ojo {
    width: 25px;
    position: absolute;
    right: 41vw;
    top: 55.3vh;
}

@media screen and (min-width: 100px) and (max-width: 433px) {
    html {
        height: 100vh !important;
        width: 100vw !important;
        overflow: hidden !important;
    }

    body {
        display: flex !important;
        justify-content: center !important;
    }

    form {
        width: 75vw !important;
        height: 60vh !important;
        position: relative !important;
        bottom: 40px !important;
    }

    #ojo {
        width: 20px !important;
        position: absolute !important;
        right: 17vw !important;
        top: 41.25vh !important;
    }
}
 screen and (min-width: 100px) and (max-width: 433px) {
    html {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    body {
        display: flex;
        justify-content: center;
    }

    form {
        width: 75vw;
        height: 60vh;
        position: relative;
        bottom: 40px;
    }
    
    #ojo {
        width: 20px;
        position: absolute;
        right: 17vw;
        top: 41.25vh;
    }
}

@media screen and (min-width: 434px) and (max-width: 639px) {
    html {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    body {
        display: flex;
        justify-content: center;
    }

    form {
        width: 75vw;
        height: 60vh;
        position: relative;
        bottom: 40px;
    }
    
    #ojo {
        width: 20px;
        position: absolute;
        right: 17vw;
        top: 38.25vh;
    }
}

@media screen and (min-width:640px) and (max-width: 701px){
    html {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    body {
        display: flex;
        justify-content: center;
    }

    form {
        width: 75vw;
        height: 60vh;
        position: relative;
        bottom: 40px;
    }
    
    #ojo {
        width: 20px;
        position: absolute;
        right: 10vw;
        top: 38.25vh;
    }
}