*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(../imagenes/atardecer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    margin: 23vh auto;

}

form {
    display: grid;
    grid-template-columns: 100%;
    background-color: #d6d6d6c9;
    padding: 60px;
    border-radius: 20px;
}

form * {
    margin-bottom: 10px;
}

form h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30pt;
}

form label, form input, #botonInicio {
    font-size: 15pt;
    border-radius: 5px;
}

#botonInicio {
    margin-top: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    height: 2em;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 20pt;
}

#botonInicio:hover {
    cursor: pointer;
}

#botonInicio:active {
    box-shadow: none;
    transform: scale(0.98);
}

#ojo {
    width: 25px;
    position: absolute;
    right: 41vw;
    top: 55.3vh;
}