*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(../imagenes/atardecer.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 40pt;
    margin: 0 10vw;
    background-color: #d6d6d6c9;
}

#listaEnlaces {
    width: 300px;
    margin-left: -250px;
    position: fixed;
    line-height: 50px;
    background-color: rgba(255, 127, 80, 0.616);
    list-style-type: none;
    transform: translateX(0);
    transition: 0.4s ease-in-out;
    font-size: 20px;
}

#listaEnlaces:hover{
    transform: translateX(230px);
}

#listaEnlaces li a{
    text-decoration: none;
    font-weight: bold;
}

#cerrarSesion {
    position: fixed;
    left: 94vw;
    top: 7px;
    background-color: rgba(255, 127, 80, 0.616);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

#logoutImg {
    width: 30px;
    margin-left: 5px;
}

#seccionInfoBasica {
    display: grid;
    grid-template-columns: 60%; 
    margin-left: 10vw;
    margin-right: 10vw;
    background-color:  #d6d6d6c9;
}

#seccionInfoBasica h2 {
    font-size: 24pt;
    padding-left: 100px;
}

#seccionInfoBasica div{
    line-height: 6vh;
    font-size: 13pt;
    padding-left: 100px;
}

#ultimoDiv {
    padding-bottom: 170px;
}

#imgSheila {
    width: 300px;
    position: absolute;
    left: 70vw;
    top: 10vh;
}

#seccionGustos {
    display: grid;
    grid-template-columns: 60%;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color:  #d6d6d6c9;
    direction: rtl;
    padding-bottom: 100px;
}

#seccionGustos h2 {
    font-size: 24pt;
    padding-right: 100px;
}

#seccionGustos div{
    line-height: 6vh;
    font-size: 13pt;
    padding-right: 100px;
    text-align: right;
}

#seccionGustos ol {
    direction: ltr;
    margin-left: 20vw;
    font-size: 13pt;
    line-height: 150px;
    padding-right: 100px;
}

li img {
    width: 120px;
    margin-left: 50px;
    position: relative;
    top: 35px;
}

#sandra {
    width: 400px;
    position: absolute;
    right: 60vw;
    top: 95vh;
}
